version: '3.9'

services:
  postgres:
    image: postgres:11-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: notiefy-db
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5000:5432"

  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: always

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: notiefy-app
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/notiefy-db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    depends_on:
      - postgres
      - rabbitmq
    restart: always
